{% for comment in com_data %}
    <div class="">
    {#% for comment in parent %#}
        <div class="head">
        {{ comment.author }}
        {{ comment.date }}
        {#{ comment.votes }#}
        </div>

        <div class="body">
        {{ comment.text }}
        </div>
    {#% if %#}
    {#% include "comment.html" %#}
    </div>
{% endfor %}