<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The Django comment site">
  <meta name="author" content="jakvb">

</head>

<body>
    <section class="comments">
    {% include "comment.html" %}
    </section>
</body>
</html>

